
.centeredFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

* { box-sizing: border-box; }
a { text-decoration: none; }
body{
    margin: 0;
    height: 100vh;
}
  

.mainContainer{
    height: 70vh;
    width: 60vw;
    margin-left: 20%;
    margin-top: 3%;
    border: 1px black solid;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    
    
}
.rightContainer{
    width: 50%;
    height: 100%;
} 

.leftContainer {
    width: 50%;
    height: 100%;
    gap: 40px;
    flex-direction: column;
}

.upperContainer{
    width: 100%;
    height: 70%;
    display: flex;
}

.innerConteiner {
    width: 70%;
    height: 70%;
    border: 1px solid black;
}

.stringContainer {
    height: 5vh;
    border: 0.5px black solid;
    text-align: center;
    display: inline;
}
/*.text{
    display: inline;
    margin-top: 70%;
    margin-left: 9%;
}*/
